*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #e58ce6;
}

header{
    background-color: rgb(161, 98, 219);
    
}

nav ul{
    padding: 25px;
    display: flex;
    justify-content: right;
    list-style: none;
    
}

li a{
    color: #ffffff;
    margin: 4px;
    padding: 4px 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    text-decoration: none; 
}

li a:hover{
    background-color: #ffffff;
    color: #6f1570;
}

.title{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between ;
    
}

.title a{
    margin: 5px;
}

.disactive{
    color: #e58ce6;
}

#logo-amazing{
    /* background-color: rgba(240, 255, 255, 0.628);
    border: 2px solid;
    border-radius: 25px; */
    position: absolute;
    margin: 15px 15px;
    padding: 5px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards>div{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 20px;
    padding: 2px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 250px;
    box-shadow: 0 0 20px 0;
}

.cards a{
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    padding: 6px;
    text-decoration: none;  
}
.cards a:hover{
    background-color: #6f1570;
    color: #ffffff;
    font-weight: bold;
}
.price{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cards div img{
    width: 100% ;
    border-radius: 3px;
    height: 130px;
}

.cards-details{
    display: block;
    align-items: center;
    justify-content: center;
}
.cards h3, p{
    text-align: center;
}


form{
    padding: 20px;
}
.form{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 300px;
   
}

.section-form{
    padding: 6px;
    width: 250px;
}
form .label{
    display: flex;
    flex-direction: column;
}

#buttom{
    color: #ffffff;
    padding: 4px;
    border-radius: 6px;
    margin: 20px 100px 0px;
    background-color: #6f1570;
}

#buttom:hover{
    background-color: #ffffff;
    color: #6f1570;
    font-weight: bold;
}


#volver-home{
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    
}

#volver-home-div{
  margin-top: 20px;  
}


table{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}
tr, th, td{
    height: 30px;
    background-color: #fffdff;
    padding: 5px 6px;
    text-align: left;
    border: 1px solid;
}
th{
    color: #ffffff;
    background-color: #6f1570;
}

.content-table{
    display: flex;
    justify-content: center;
}

footer{
    background-color: #d44fd6;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000000;
}
.logos-redes img{
    margin: 2px;
    padding-left: 10px;
    height: 35px;
}
footer p{
    margin: 6px 12px;
}

.flecha{
    margin-top: 10px;
    height: 25px;
}
#img-none{
    display: none;
}
.form-category{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}